<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">
        <h1>글수정</h1>

        <script>
            function ModifyForm__submit(form) {
                form.subject.value = form.subject.value.trim();

                if (form.subject.value.length == 0) {
                    alert("제목을 입력해주세요.");
                    form.subject.focus();
                    return;
                }

                form.content.value = form.content.value.trim();

                if (form.content.value.length == 0) {
                    alert("내용을 입력해주세요.");
                    form.content.focus();
                    return;
                }

                form.submit();
            }

        </script>


        <form th:action method="POST"  class="flex flex-col gap-3" enctype="multipart/form-data" th:object="${form}" onsubmit="ModifyForm__submit(this); return false; ">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">제목</span>
                </label>
                <input  class="input input-bordered" th:field="*{subject}" type="text" name="subject">
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">내용</span>
                </label>
                <textarea name="content" th:field="*{content}" class="textarea textarea-primary" rows="10" cols="50" ></textarea>
            </div>
            <div class="grid">
                <input class="btn btn-primary" type="submit" value="수정">
            </div>

        </form>


        </div>
    </section>
</main>
</body>
</html>