<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글쓰기</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">


        <h1>글쓰기</h1>

        <script>
            function WriteForm__submit(form) {
                form.subject.value = form.subject.value.trim();

                if (form.subject.value.length == 0) {
                    alert("제목을 입력해주세요.");
                    form.subject.focus();
                    return;
                }

                form.content.value = form.content.value.trim();

                if (form.content.value.length == 0) {
                    alert("내용을 입력해주세요.");
                    form.content.focus();
                    return;
                }

                form.submit();
            }

        </script>


        <form th:action method="POST" enctype="multipart/form-data" onsubmit="WriteForm__submit(this); return false;" class="flex flex-col gap-3">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">제목</span>
                </label>
                <input  class="input input-bordered"  type="text" name="subject">
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">내용</span>
                </label>
                <textarea name="content" class="textarea textarea-primary" rows="10" cols="50" ></textarea>
            </div>
            <div class="grid">
                <input class="btn btn-primary" type="submit" value="작성">
            </div>

        </form>

    </section>
</main>
</body>
</html>